.asteroid-wrapper {
  @apply w-[10vw] max-w-[200px];
  z-index: 9999;
  position: fixed;
}

.asteroid-wrapper__image {
  @apply w-full;
  transition:
    opacity 0.2s ease,
    transform 0.1s ease;
}

.asteroid-wrapper__image:active {
  transform: scale(0.8);
}
