.asteroid-wrapper {
  z-index: 9999;
  position: fixed;
}

.asteroid-wrapper__image {
  width: 200px;
  transition: opacity 0.2s ease, transform 0.1s ease;
}

.asteroid-wrapper__image:active {
  transform: scale(0.8);
}
