@import "tailwindcss";

.app__game-interface {
  @apply z-1 flex flex-col items-center w-full h-full;
  opacity: 0;
  transition: opacity 3s ease;
}

.app__game-interface h1,
.app__game-interface h2,
.app__game-interface h3,
.app__game-interface h4,
.app__game-interface h5,
.app__game-interface h6,
.app__game-interface p {
  color: var(--color-foreground-alt);
  overflow-wrap: normal;
  word-break: normal;
  white-space: normal;
}

/* Upper panel */
.game-interface__top-panel {
  @apply flex justify-between gap-10 w-full min-h-20;
  overflow-x: scroll;
  border-bottom: 1px solid var(--color-panel-border);
  background-color: var(--color-panel-background);
  backdrop-filter: blur(3px);
}

.top-panel__labels {
  @apply flex flex-wrap items-center gap-x-5 p-5 h-full;
}

.top-panel__buttons {
  @apply flex flex-row-reverse justify-end items-center gap-1 p-0 h-full;
  color: var(--color-foreground-alt);
}

.top-panel__buttons button {
  @apply p-5 min-w-40 h-full;
  cursor: pointer;
  background-color: var(--color-panel-button);
}

.top-panel__buttons button:hover {
  background-color: var(--color-panel-button-hover);
}

.top-panel__buttons button:active {
  background-color: var(--color-panel-button-active);
}

.game-interface__game-box {
  @apply z-2 flex flex-col items-center gap-10 p-5 w-full h-full;
}

.game-box__row {
  @apply flex gap-15 w-full;
}

.pet-viewer {
  @apply flex flex-col justify-center items-center text-center gap-5 p-5;
  border: 1px solid var(--color-)
}