@import "tailwindcss";

.app__game-interface {
  @apply z-1 flex flex-col items-center w-full h-full;
  opacity: 0;
  transition: opacity 3s ease;
}

.app__game-interface h1,
.app__game-interface h2,
.app__game-interface h3,
.app__game-interface h4,
.app__game-interface h5,
.app__game-interface h6,
.app__game-interface p {
  color: var(--color-foreground-alt);
  overflow-wrap: normal;
  word-break: normal;
  white-space: normal;
}

/* Upper panel */
.game-interface__top-panel {
  @apply overflow-x-scroll flex justify-between gap-10 w-full min-h-20;
  border-bottom: 1px solid var(--color-panel-border);
  background-color: var(--color-panel-background);
  backdrop-filter: blur(3px);
}

.top-panel__labels {
  @apply flex flex-wrap items-center gap-x-5 p-3 md:p-5 h-full;
}

.top-panel__end {
  @apply flex justify-end gap-x-10;
}

.top-panel__stats {
  @apply flex justify-end items-center gap-x-10 h-full;
}

.top-panel__buttons {
  @apply flex flex-row-reverse justify-end items-center gap-1 p-0 h-full;
  color: var(--color-foreground-alt);
}

.top-panel__buttons button {
  @apply p-5 min-w-40 h-full;
  cursor: pointer;
  background-color: var(--color-panel-button);
}

.top-panel__buttons button:hover {
  background-color: var(--color-panel-button-hover);
}

.top-panel__buttons button:active {
  background-color: var(--color-panel-button-active);
}

.game-interface__game-box {
  @apply overflow-x-scroll overflow-y-hidden z-2 flex items-center p-0 w-full h-full;
}

.game-box__column {
  @apply flex flex-col gap-15 p-15 h-full;
}

.game-box__column > div {
  @apply flex p-15 rounded-2xl;
  background-color: var(--color-background-alt-transparent);
  border: 1px solid var(--color-foreground);
  backdrop-filter: blur(3px);
}

.game-box__column:last-child {
  @apply min-w-150 w-full;
}

.pet-viewer {
  @apply overflow-scroll items-center text-center justify-between gap-10 h-[40%];
}

.pet-viewer__image {
  @apply h-[20vh] max-w-full;
}

.stats-viewer {
  @apply overflow-scroll flex-col justify-between gap-10 h-[60%];
}

.stats-viewer__stats-list {
  @apply flex flex-col gap-5;
}

.stats-list__stat-row {
  @apply flex items-center gap-10 w-full;
}

.stat-row__progress-bar {
  @apply flex-1 p-1 w-[50%] h-5;
  border: 1px solid var(--color-foreground);
}

.stat-row__progress-bar--warning {
  @apply border-amber-700;
}

.stat-row__progress-bar--critical {
  @apply border-red-700;
}

.stat-row__progress-bar--zero {
  @apply border-red-950;
}

.progress-bar__progress {
  @apply h-full;
  background-color: var(--color-foreground);
  transition: width 0.3s ease;
}

.progress-bar__progress--warning {
  @apply bg-amber-700;
}

.progress-bar__progress--critical {
  @apply bg-red-700;
}

.progress-bar__progress--zero {
  @apply bg-red-950;
}

.stats-viewer__stat-buttons {
  @apply flex justify-between gap-5;
}

.stat-buttons__button {
  @apply min-w-35 p-3 rounded-2xl;
  cursor: pointer;
  overflow: hidden;
  outline: 1px solid var(--color-button-primary);
  color: var(--color-button-primary);
  backdrop-filter: blur(3px);
  transition:
    transform 0.1s ease,
    opacity 0.5s ease;
}

.stat-buttons__button:disabled {
  cursor: not-allowed;
  outline-color: var(--color-button-disabled);
  color: var(--color-button-disabled);
}

.stat-buttons__button:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    var(--color-button-transparent-shimmer),
    transparent
  );
  transition: left 1s ease;
}

.stat-buttons__button:not(:disabled):hover:before {
  left: 100%;
}

.stat-buttons__button:not(:disabled):hover {
  outline: 1px solid var(--color-button-hover);
  color: var(--color-button-hover);
}

.stat-buttons__button:not(:disabled):active {
  transform: scale(0.95);
  outline: 1px solid var(--color-button-active);
  color: var(--color-button-active);
}

.log-view {
  @apply flex flex-col gap-10 h-full;
}

.log-view__log-content {
  @apply overflow-scroll flex flex-col gap-5 h-full;
}

.log-item__date {
  @apply font-bold text-cyan-700;
}
