@import "tailwindcss";

.app__pet-selector-interface {
  @apply relative z-1 flex flex-col items-center text-center gap-15 w-full h-full p-25;
  overflow-y: auto;
}

.pet-selector-interface__labels {
  @apply flex flex-col justify-center items-center text-center gap-5;
  transition: opacity 0.5s ease;
}

.pet-selector {
  @apply grid items-stretch text-center gap-5;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  min-width: 0;
}

/* Responsiveness */
@media (max-width: 1050px) {
  .pet-selector {
    @apply flex flex-col gap-10;
  }
}

.pet-selector__card {
  @apply flex flex-col max-w-100 min-h-105;
  min-width: 0;
  transition: top 0.5s ease, left 0.5s ease, transform 0.5s ease,
    opacity 0.5s ease;
}

@media (max-width: 450px) {
  .app__pet-selector-interface {
    @apply p-5;
  }
}

.card__content {
  @apply flex flex-col items-center text-center gap-10 p-10 h-full rounded-t-2xl;
  background-color: var(--color-background-alt-transparent);
  border-top: 1px solid var(--color-foreground);
  border-left: 1px solid var(--color-foreground);
  border-right: 1px solid var(--color-foreground);
  backdrop-filter: blur(3px);
}

.card__image {
  @apply w-35 h-35;
}

.card__button {
  @apply w-full h-15 text-xl font-bold rounded-b-2xl;
  cursor: pointer;
  background-color: var(--color-button-primary);
  color: var(--color-button-text);
}

.card__button:hover {
  background-color: var(--color-button-hover);
}

.card__button:active {
  background-color: var(--color-button-active);
}

.card__button:disabled {
  cursor: not-allowed;
}

.card__button:not(.card__button--adopted):disabled {
  background-color: var(--color-button-disabled);
}

.card__button--adopted:disabled {
  background-color: var(--color-button-primary);
}

.pet-selector-interface__intro-label {
  @apply fixed text-xl;
  width: 75%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: top 0.5s ease, opacity 0.5s ease;
}
