@import "tailwindcss";

.app__pet-selector-interface {
  @apply relative z-1 flex flex-col items-center text-center gap-15 w-full h-full p-25;
  overflow-y: auto;
}

.app__pet-selector-interface .pet-selector-interface__labels {
  @apply flex flex-col justify-center items-center text-center gap-5;
}

.app__pet-selector-interface .pet-selector {
  @apply grid items-stretch text-center gap-5;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  min-width: 0;
}

/* Responsiveness */
@media (max-width: 1050px) {
  .app__pet-selector-interface .pet-selector {
    @apply flex flex-col gap-10;
  }
}

.app__pet-selector-interface .pet-selector__card {
  @apply flex flex-col max-w-100 min-h-105;
  min-width: 0;
}

@media (max-width: 400px) {
  .app__pet-selector-interface {
    @apply p-5;
  }
}

.app__pet-selector-interface .pet-selector__card .card__content {
  @apply flex flex-col items-center text-center gap-10 p-10 h-full rounded-t-2xl;
  background-color: var(--color-background-alt-transparent);
  border-top: 1px solid var(--color-foreground);
  border-left: 1px solid var(--color-foreground);
  border-right: 1px solid var(--color-foreground);
}

.app__pet-selector-interface .pet-selector__card .card__content .card__image {
  @apply w-35 h-35;
}

.app__pet-selector-interface .pet-selector__card .card__button {
  @apply w-full h-15 text-xl font-bold rounded-b-2xl;
  background-color: var(--color-button-primary);
  color: var(--color-button-text);
}

.app__pet-selector-interface .pet-selector__card .card__button:hover {
  background-color: var(--color-button-hover);
}

.app__pet-selector-interface .pet-selector__card .card__button:active {
  background-color: var(--color-button-active);
}
