@import "tailwindcss";

button.theme-switcher {
  @apply fixed top-5 right-5 p-3 rounded-2xl;
  cursor: pointer;
  z-index: 9999;
  outline: 1px solid var(--color-button-primary);
  color: var(--color-button-primary);
  opacity: 0.25;
}

button.theme-switcher:hover {
  opacity: 0.5;
}

button.theme-switcher:active {
  opacity: 1;
}
