@import "tailwindcss";

button.theme-switcher-button {
  @apply fixed bottom-5 md:bottom-auto md:top-5 right-5 p-3 min-w-40 rounded-2xl;
  cursor: pointer;
  z-index: 9999;
  overflow: hidden;
  border: 1px solid var(--color-button-transparent-primary);
  background-color: var(--color-button-transparent-background);
  color: var(--color-button-transparent-primary);
  backdrop-filter: blur(3px);
  transition:
    opacity 0.5s ease;
}

/* Shimmer */
button.theme-switcher-button:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    var(--color-button-transparent-shimmer),
    transparent
  );
  transition: left 1s ease;
}

button.theme-switcher-button:hover:before {
  left: 100%;
}

button.theme-switcher-button:hover {
  border-color: var(--color-button-transparent-hover);
  color: var(--color-button-transparent-hover);
}

button.theme-switcher-button:active {
  transform: scale(0.95);
  border-color: var(--color-button-transparent-active);
  color: var(--color-button-transparent-active);
}
