:root,
.dark-theme {
  /* Background */
  --color-background: #0a0a0a;
  --color-background-alt: #202020;
  --color-background-alt-transparent: rgba(32, 32, 32, 0.25);

  /* Foreground */
  --color-foreground: white;
  --color-foreground-alt: #bfbfbf;

  /* Background dots */
  --color-background-dot: rgba(255, 255, 255, 0.5);
  --color-background-dot-shadow: white;

  /* Button (main) */
  --color-button-primary: white;
  --color-button-disabled: #999;
  --color-button-hover: #dedede;
  --color-button-active: #c9c9c9;
  --color-button-text: var(--color-background-alt);

  /* Button (transparent) */
  --color-button-transparent-primary: rgba(255, 255, 255, 0.5);
  --color-button-transparent-background: rgba(0, 0, 0, 0.5);
  --color-button-transparent-shimmer: rgba(255, 255, 255, 0.1);
  --color-button-transparent-disabled: rgba(153, 153, 153, 0.5);
  --color-button-transparent-hover: rgba(255, 255, 255, 0.6);
  --color-button-transparent-active: rgba(255, 255, 255, 0.7);

  /* Panel */
  --color-panel-border: rgba(255, 255, 255, 0.5);
  --color-panel-background: rgba(255, 255, 255, 0.1);
  --color-panel-button: rgba(255, 255, 255, 0.1);
  --color-panel-button-hover: rgba(255, 255, 255, 0.2);
  --color-panel-button-active: rgba(255, 255, 255, 0.3);
}

.light-theme {
  /* Background */
  --color-background: #efefef;
  --color-background-alt: #dedede;
  --color-background-alt-transparent: rgba(222, 222, 222, 0.25);

  /* Foreground */
  --color-foreground: black;
  --color-foreground-alt: #535353;

  /* Background dots */
  --color-background-dot: rgba(0, 0, 0, 0.5);
  --color-background-dot-shadow: black;

  /* Button (main) */
  --color-button-primary: black;
  --color-button-disabled: #4d4d4d;
  --color-button-hover: #2e2e2e;
  --color-button-active: #3c3c3c;
  --color-button-text: var(--color-background-alt);

  /* Button (transparent) */
  --color-button-transparent-primary: rgba(0, 0, 0, 0.5);
  --color-button-transparent-background: rgba(255, 255, 255, 0.5);
  --color-button-transparent-shimmer: rgba(0, 0, 0, 0.1);
  --color-button-transparent-disabled: rgba(77, 77, 77, 0.5);
  --color-button-transparent-hover: rgba(0, 0, 0, 0.6);
  --color-button-transparent-active: rgba(0, 0, 0, 0.7);

  /* Panel */
  --color-panel-border: rgba(0, 0, 0, 0.5);
  --color-panel-background: rgba(0, 0, 0, 0.1);
  --color-panel-button: rgba(0, 0, 0, 0.1);
  --color-panel-button-hover: rgba(0, 0, 0, 0.2);
  --color-panel-button-active: rgba(0, 0, 0, 0.3);
}
