@import "tailwindcss";

* {
  @apply uppercase;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

html,
body,
#app {
  @apply w-full h-full p-0 m-0;
  background-color: var(--color-background);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--color-foreground);
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}
